span:has(.movieCardImage) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.movieCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
